// COLORS
$primary-color: #f7df1e;
$secondary-color: #f7df1e;

$white-color: #fff;
$black-color: #000;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// * {
// 	height: 100%;
// }

html,
body,
#root {
	height: 100%;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.opacity {
	opacity: 0;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

.hidden {
	display: none;
}

.width-full {
	width: 100%;
}

.height-full {
	height: 100%;
}

.margin-top10 {
	margin-top: 10px;
}

.position-sticky-top {
	position: sticky;
	top: 0;
}

.position-sticky-bottom {
	position: sticky;
	bottom: 0;
}

.bold {
	font-weight: bold;
}
