#contact {
	background-color: $white-color;
}

#contact .dark-mode {
	background-color: $dark-mode !important;
}

form {
	width: 80%;
	background: rgb(0 0 0 / 23%);
	padding: 20px;
	border-radius: 20px;
	backdrop-filter: blur(10px);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.4);
	text-align: center;
	transition: all 0.2s ease-in-out;

	p {
		font-weight: 500;
		color: #fff;
		opacity: 0.7;
		font-size: 1.4rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}

	a {
		text-decoration: none;
		color: #ddd;
		font-size: 12px;

		&:active {
			text-shadow: none;
		}
	}

	input {
		background: transparent;
		width: 200px;
		padding: 1em;
		margin-bottom: 2em;
		border: none;
		border-radius: 5000px;
		backdrop-filter: blur(5px);
		box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
		color: #fff;
		font-family: Montserrat, sans-serif;
		font-weight: 500;
		transition: all 0.2s ease-in-out;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}

	.inputForm {
		gap: 20px;
		text-decoration: none;
	}

	textarea {
		background: transparent;
		width: 200%;
		padding: 3em;
		margin-bottom: 2em;
		border: none;
		border-radius: 5000px;
		backdrop-filter: blur(5px);
		box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
		color: #fff;
		font-family: Montserrat, sans-serif;
		font-weight: 500;
		transition: all 0.2s ease-in-out;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
		resize: none;

		@include respond(tab-port-sm) {
			width: 120%;
		}

		@include respond(phone-xs) {
			width: 100%;
		}
	}

	textarea:focus {
		outline: none;
	}

	.input-error {
		background-color: rgb(255 0 0 / 46%);
	}
}

input:focus {
	outline: none;
	// color: black;
}

.dark-mode-input {
	color: black;
}

::placeholder {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#contact {
	.animated-button {
		font-size: 10px !important;
		padding: 6px 30px;
	}
	.navBar .navLink {
		margin-top: 10px;
	}
}

.dark-mode-form {
	background-color: #ffffff99;
	color: black;
}

.dark-mode-drop {
	background-color: #ffffff99;
}
