.navBar {
	width: 100%;
}

.dark-mode #navBar {
	color: white !important;
}

@media only screen and (max-width: 810px) {
	.navBar {
		.navLink {
			gap: 0px;
		}
	}
	/* Menu burger en version mobile */
	.menu-button {
		font-size: 24px;
		background: none;
		border: none;
		cursor: pointer;
		color: inherit;
		padding-left: 10px;
	}

	.dropdown-menu {
		border: none;
		background-color: transparent;
		width: auto;
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 10;
		padding: 10px;
		transition: opacity 0.3s ease;
	}

	.dropdown-menu a {
		padding: 10px;
		width: 100%;
		text-align: center;
	}

	/* Masquer les SVG sur mobile */
	@media (max-width: 810px) {
		.menu-button {
			display: block;
		}

		.hero-cta {
			display: none;
		}

		.dropdown-menu {
			display: flex;
		}
	}

	/* Version normale pour grand écran */
	@media (min-width: 810px) {
		.menu-button {
			display: none;
		}

		.dropdown-menu {
			display: none;
		}
	}
}
