.section-title-project-mobile {
	font-size: medium;
}

.carousel-container {
	position: relative;
	width: 100%;
	// overflow: hidden;
}

.carousel-item {
	margin-right: 0 !important;
	position: relative;
	transition: transform 0.5s ease-in-out;
}

.carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: $white-color;
	color: $dark-blue-text;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
	font-size: 24px;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.carousel-img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 14px 18px 24px -5px rgba(0, 0, 0, 0.85);

}

.dots-container {
	gap : 5px;
	flex-direction : row;
	padding-top : 10px;
}

.dot {
	width : 10px;
	height : 10px;
	border-radius : 100px;
	background-color : grey;
}

.dot .active {
	background-color : red !important;
}
