.card-section {
	background-color: $white-color;
	@media (max-width: 768px) {
		padding-bottom: 2.5rem;
	}
}

.dark-mode .card-section {
	background-color: $dark-mode !important;
}

.card-stack {
	margin-bottom: 50px;
	gap: 40px;
	@media (max-width: 768px) {
		gap: 20px;
	}
}

.card {
	cursor: pointer;
	width: 200px;
	height: 125px;
	border: 0px;
	border-radius: 10px;
	color: $white-color;
	background-color: $dark-blue-text;
	box-shadow: 14px 18px 24px -5px rgba(0, 0, 0, 0.85);
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.2);
	}
	@media (max-width: 768px) {
		width: 100px;
		height: 62.5px;
	}
}

.dark-mode .card {
	color: $dark-blue-text;
	background-color: $white-color;
}

.title-stack {
	font-weight: bold;
	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.icons-skill {
	padding: 10px;
	font-size: 30px;
	@media (max-width: 768px) {
		padding: 5px;
		font-size: 20px;
	}
}

.dark-mode {
	background-color: black;
}
